:root {
  --primary: #00f696;
  --secondary: #00d4ff;
  --dark: #212121;
  --light: #F3F3F3;
}

body {
  height: 100vh;
}

.tittle-area {
  background-color: var(--dark);
  color: var(--light);
  margin-bottom: 1rem;
  padding: 1rem 0;
}

.text-justify {
  text-align: justify;
}

.chapter-area {
  margin-top: 1rem;
}

.flashcard {
  margin: auto auto 2rem;
  width: auto;
  height: 300px;
  perspective: 1000px;
}

@media (min-width: 768px) {
  .flashcard {
    width: 500px;
    height: 400px;
    margin: 1rem;
  }
  .list-of-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.flashcard__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.flashcard__inner.is-flipped {
  transform: rotateY(180deg);
}


.flashcard__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.flashcard__face--front {
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flashcard__face--front h2 {
  color: #FFF;
  font-size: 32px;

}

.flashcard__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
  overflow-y: auto;
}

.flashcard__content {
  width: 100%;
  height: 100%;
}

.flashcard__header {
  position: relative;
  padding: 30px;
}

.flashcard__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
  z-index: -1;
}

.flashcard__header h2 {
  color: var(--light);
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.flashcard__body {
  padding: 30px;
}

.flashcard__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.flashcard__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: transparent;
  color: var(--light);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  padding: auto 0;
}

@media (min-width: 768px) {
  .scroll-to-top {
    width: 80px;
    height: 80px;
    bottom: 2.5rem;
    right: 2.5rem;
  }
}

.scroll-to-top:hover {
  background-color: var(--secondary);
}



footer {
  margin-top: 1rem;
  width: 100%;
  background-color: var(--light);
  text-align: center;
  padding: 10px 0;
}

.p {
  margin-bottom: auto;
}

.search-results-container {
  display: none;
}